# Example alternatives:
# MSSQL_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
MSSQL_SA_PASSWORD=LoomDev!Passw0rd
MSSQL_HOST=db
MSSQL_PORT=1433
DATABASE_URL=sqlserver://sa:LoomDev!Passw0rd@db:1433;encrypt=false
MSSQL_IMAGE=ghcr.io/loom-development/mssql-2022@sha256:ba4c8329f48fb8f02e1416be6a930ebfd71268caee78aa985f3af4315e457c89
