# Example alternatives:
# PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.3
# PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.4
# MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
# POSTGRES_IMAGE=docker.io/library/postgres:16-alpine
# POSTGRES_IMAGE=docker.io/library/postgres:17-alpine
PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.3
MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
POSTGRES_IMAGE=docker.io/library/postgres:16-alpine
HOST_UID=1000
HOST_GID=1000