# Example alternatives:
# PHP_IMAGE=dunglas/frankenphp:1-php8.3
# PHP_IMAGE=dunglas/frankenphp:1-php8.4
# POSTGRES_IMAGE=postgres:16-alpine
# POSTGRES_IMAGE=postgres:17-alpine
PHP_IMAGE=dunglas/frankenphp:1-php8.3
POSTGRES_IMAGE=postgres:16-alpine