# Example alternatives:
# PHP_IMAGE=docker.io/library/php:8.4-apache
# PHP_IMAGE=docker.io/library/php:8.3-apache
# MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
PHP_IMAGE=docker.io/library/php:8.4-apache
MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
HOST_UID=1000
HOST_GID=1000
