# Example alternatives:
# PYTHON_IMAGE=docker.io/library/python:3.12-slim
# PYTHON_IMAGE=docker.io/library/python:3.13-slim
# NODE_IMAGE=docker.io/library/node:22-alpine
# NODE_IMAGE=docker.io/library/node:24-alpine
PYTHON_IMAGE=ghcr.io/loom-development/loom-python-3.12@sha256:e31bbfb5c603a8609e6903a9f103c8386a363c5d60fe7690f6a4474e7e847055
NODE_IMAGE=ghcr.io/loom-development/loom-node-24@sha256:091606f63d156c9409ef965dad329283070768baa0033c88bcb776c0bc4cba09
HOST_UID=1000
HOST_GID=1000