# Example alternatives:
# PYTHON_IMAGE=docker.io/library/python:3.12-slim
# PYTHON_IMAGE=docker.io/library/python:3.13-slim
# NODE_IMAGE=docker.io/library/node:22-alpine
# NODE_IMAGE=docker.io/library/node:24-alpine
PYTHON_IMAGE=ghcr.io/loom-development/loom-python-3.12@sha256:dfc56d79d2e1ec7552b172f58bab8468929cf80dca40a33078654bc5fb8d9a94
NODE_IMAGE=ghcr.io/loom-development/loom-node-24@sha256:5bdb11d871f1cea2d5c20305e35d63ab199d23d9b8be69135fc615425f38420c
HOST_UID=1000
HOST_GID=1000