# Example alternatives:
# PHP_IMAGE=docker.io/library/php:8.4.25-apache
PHP_IMAGE=ghcr.io/loom-development/loom-php@sha256:d9f67c2ee13bdc0f17cb836c435acb5787062311ac1843aa3ee4cb7ff11c799d
HOST_UID=1000
HOST_GID=1000
