# Example alternatives:
# PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.3
# PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.4
PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.3
MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine