# Example alternatives:
# PYTHON_IMAGE=docker.io/library/python:3.12-slim
# PYTHON_IMAGE=docker.io/library/python:3.13-slim
PYTHON_IMAGE=ghcr.io/loom-development/loom-python-3.12@sha256:dfc56d79d2e1ec7552b172f58bab8468929cf80dca40a33078654bc5fb8d9a94
HOST_UID=1000
HOST_GID=1000