# Example alternatives:
# ELASTICSEARCH_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:8.17.0
ELASTICSEARCH_URL=http://db:9200
ELASTICSEARCH_TRANSPORT_PORT=9300
ELASTICSEARCH_IMAGE=ghcr.io/loom-development/elasticsearch-8.19@sha256:e4797708584bd0df7c746b33a6640d243018a0ae8c8b088391c6f4675a3bef52
