# Example alternatives:
# MONGO_IMAGE=mongo:7
# MONGO_IMAGE=mongo:8
MONGO_INITDB_ROOT_USERNAME=loom
MONGO_INITDB_ROOT_PASSWORD=loom
MONGO_INITDB_DATABASE=loom
DATABASE_URL=mongodb://loom:loom@db:27017/loom?authSource=admin
MONGO_IMAGE=ghcr.io/loom-development/mongo-7.0@sha256:406a4fdca9fc763443268f000218d3849ef8996f66ed9e92ba0b501b446ab822
