# Ruby base image alternatives for running the bootstrapped Rails app:
# RUBY_IMAGE=docker.io/library/ruby:3.3
# RUBY_IMAGE=docker.io/library/ruby:3.4
RUBY_IMAGE=docker.io/library/ruby:3.3
HOST_UID=1000
HOST_GID=1000