# Example alternatives:
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-17
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-21
JAVA_IMAGE=ghcr.io/loom-development/loom-java-21@sha256:0137fa3f265b304b685757d5aea005a81140f833a49f271350b64bc0b349dedf
HOST_UID=1000
HOST_GID=1000
