# Example alternatives:
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-17
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-21
JAVA_IMAGE=ghcr.io/loom-development/loom-java-21@sha256:dd2c87a716b9f86d94cacc5db4b7b44ec3ba864f33ca3d6823461f84522dbe7e
HOST_UID=1000
HOST_GID=1000
