# Example alternatives:
# BUN_IMAGE=docker.io/oven/bun:1.1
# BUN_IMAGE=docker.io/oven/bun:1.2
BUN_IMAGE=ghcr.io/loom-development/loom-bun-1@sha256:1325194e28cff684e0d7a9ee26085516df897f18f363f4c05dbf4b3bd6b56b6d
HOST_UID=1000
HOST_GID=1000
