# Example alternatives:
# BUN_IMAGE=docker.io/oven/bun:1.1
# BUN_IMAGE=docker.io/oven/bun:1.2
BUN_IMAGE=ghcr.io/loom-development/loom-bun-1@sha256:4d640f6c2554c4ba738d1713dbec45be112cd59f6939d53fef7dc5ec78d9acda
HOST_UID=1000
HOST_GID=1000
