# Example alternatives:
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-17
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-21
# NODE_IMAGE=docker.io/library/node:22-alpine
# NODE_IMAGE=docker.io/library/node:24-alpine
JAVA_IMAGE=ghcr.io/loom-development/loom-java-21@sha256:0137fa3f265b304b685757d5aea005a81140f833a49f271350b64bc0b349dedf
NODE_IMAGE=ghcr.io/loom-development/loom-node-22@sha256:038cf4b609c8c3802f75d5e90db02781e6edaa1cfc6391aa2834bde92075f744
HOST_UID=1000
HOST_GID=1000