# Example alternatives:
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-17
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-21
# NODE_IMAGE=docker.io/library/node:22-alpine
# NODE_IMAGE=docker.io/library/node:24-alpine
JAVA_IMAGE=ghcr.io/loom-development/loom-java-21@sha256:dd2c87a716b9f86d94cacc5db4b7b44ec3ba864f33ca3d6823461f84522dbe7e
NODE_IMAGE=ghcr.io/loom-development/loom-node-22@sha256:25823da1bec192be0882fa20a0838f576e2b6cc7e7aefbb1183ebc3cf1c924e6
HOST_UID=1000
HOST_GID=1000