# Example alternatives:
# NODE_IMAGE=docker.io/library/node:22-alpine
# NODE_IMAGE=docker.io/library/node:24-alpine
NODE_IMAGE=ghcr.io/loom-development/loom-node-22@sha256:038cf4b609c8c3802f75d5e90db02781e6edaa1cfc6391aa2834bde92075f744
HOST_UID=1000
HOST_GID=1000