# Example alternatives:
# NODE_IMAGE=docker.io/library/node:22-alpine
# NODE_IMAGE=docker.io/library/node:24-alpine
NODE_IMAGE=ghcr.io/loom-development/loom-node-22@sha256:25823da1bec192be0882fa20a0838f576e2b6cc7e7aefbb1183ebc3cf1c924e6
HOST_UID=1000
HOST_GID=1000