# Example alternatives:
# PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.3
# PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.4
# MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
# MYSQL_IMAGE=docker.io/library/mysql:8.4
# MYSQL_IMAGE=docker.io/library/mysql:9.0
PHP_IMAGE=docker.io/dunglas/frankenphp:1-php8.3
MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
MYSQL_IMAGE=docker.io/library/mysql:8.4
HOST_UID=1000
HOST_GID=1000