# Example alternatives:
# REDIS_IMAGE=redis:7-alpine
# REDIS_IMAGE=redis:8-alpine
REDIS_HOST=db
REDIS_PORT=6379
REDIS_URL=redis://db:6379
REDIS_IMAGE=ghcr.io/loom-development/redis-7.4@sha256:ff02b58f971e7d7d156a1267e283fcbbeee91773b6aa36c49dac28ecfe28eadf
