# Example alternatives:
# WORDPRESS_IMAGE=docker.io/library/wordpress:6-php8.3-apache
# WORDPRESS_IMAGE=docker.io/library/wordpress:6-php8.4-apache
# MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
# MYSQL_IMAGE=docker.io/library/mysql:8.4
# MYSQL_IMAGE=docker.io/library/mysql:9.0
WORDPRESS_IMAGE=docker.io/library/wordpress:6-php8.3-apache
MEMCACHED_IMAGE=docker.io/library/memcached:1.6-alpine
MYSQL_IMAGE=docker.io/library/mysql:8.4
HOST_UID=1000
HOST_GID=1000