# Example alternatives:
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-17
# JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-21
JAVA_IMAGE=docker.io/library/maven:3.9-eclipse-temurin-21
HOST_UID=1000
HOST_GID=1000
