# Example alternatives:
# ELASTICSEARCH_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:8.17.0
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_TRANSPORT_PORT=9300
ELASTICSEARCH_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:8.17.0
