# Ruby base image alternatives for running the bootstrapped Rails app:
# RUBY_IMAGE=docker.io/library/ruby:3.3.12
RUBY_IMAGE=ghcr.io/loom-development/loom-ruby-3.3@sha256:6c616e29e2402c62a563f4bae9b576ed435c7666c10cdafcd6b323db4012bca9
HOST_UID=1000
HOST_GID=1000
