# Ruby base image alternatives for running the bootstrapped Rails app:
# RUBY_IMAGE=docker.io/library/ruby:3.3.12
RUBY_IMAGE=ghcr.io/loom-development/loom-ruby-3.3@sha256:fa3ff65b942751619cecc93a2fbecd23aee0c03400d99390c0be4242938e99e1
HOST_UID=1000
HOST_GID=1000
